@model OnlineShop.Models.TemporaryModels.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {

        <div>
            <div>
                @Html.LabelFor(model => model.Name)
            </div>
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        <div>
            <div>
                @Html.LabelFor(model => model.Password)
            </div>
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>
    
        <input type="submit" value="Sign in"/>
       <p>
           @Html.ActionLink("Register", "Account","Create new manager")
       </p>
    }
  


</body>
</html>
