
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
</head>
<body>
 <p>@Html.ActionLink("Console", "Console", "Product")</p>
 <p>@Html.ActionLink("Laptop", "Laptop", "Product")</p>
 <p>@Html.ActionLink("PC", "PC", "Product")</p>
 <p>@Html.ActionLink("Smartphone", "Smartphone", "Product")</p>
 <p>@Html.ActionLink("Tablet", "Tablet", "Product")</p>
<hr/>

    @Html.ActionLink("Back","Product","Admin")
</body>
</html>
